.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.googleImage{
  height: 100px;
  width: 250px;
}
.search-icon{
  height: 20px;
  
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-right: 10px;
  align-items: center;
  padding-bottom: 0px;
  margin-bottom: 0;
}
.imageContainer{
  margin-bottom:20px;
}
.list-container {
  border: 1px solid #ccc; 
  height: 300px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}
.suggestionItems{
  list-style-type: none;
  padding-left: 10px;
  padding-top: 0px;
   margin-top: 0;

}
.inputElement{
  width: 95%;
  border: none;
  height: 30px;
  outline: none;
}

@media screen and (min-width: 1024px) {
  .list-container {
    width: 600px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }

  .inputElement {
    height: 40px;
    font-size: 18px;
  }

  .googleImage {
    width: 300px;
    height: auto;
  }

 
}
